<link rel="stylesheet" type="text/css" href="/stylesheets/profile.css">

<% if @avatar.present? %>
<div class="container">
  <div class="profile_picture">
      <%= image_tag (@avatar.image.url) if @avatar.image && @avatar.image.url %>
  </div>

  <div class="info">
    <h3>
      <%= @user.name %>
    </h3>
    <p>
      <%= @user.email %>
    </p>
      <% if @user.id == current_user.id %>
          <%= link_to 'edit profile', edit_user_path(@user.id), class: 'link' %>
          <br/>
          <%= link_to 'change profile picture', edit_avatar_path, class: 'link' %>
      <% end %>
  </div>
</div>

<% else %>
<div class="container">
  <div class="profile_picture">
      <img src="/images/profile.png">
  </div>

  <div class="info">
    <h3>
      <%= @user.name %>
    </h3>
    <p>
      <%= @user.email %>
    </p>
      <% if @user.id == current_user.id %>
          <%= link_to 'edit profile', edit_user_path(@user.id), class: 'link' %>
          <br/>
          <%= link_to 'add profile picture', new_avatar_path, class: 'link' %>
      <% end %>
  </div>
</div>

<% end %>