<div class="error_explaination">
	<% if @post.errors.any? %>
	  <h3><%= pluralize(@post.errors.count, 'error') %>: </h3>
	  <ul>
	  	<% @post.errors.full_messages.each.do |msg| %>
	  	  <li><%= msg %></li>
	  	<% end %>
	  </ul>
</div>

<%= form_with(model: @post, local: true, url: action_url) do |f| %>
  <%= image_tag (@post.content.url) if @post.content && @post.content.url %>
  <%= f.file_field :content%>
  <%= f.hidden_field :content_cache %>
  <br/>
  <%= f.text_field :caption %>
  <br/>
  <br/>
  <%= f.submit 'post' %>
<% end %>