<h1>Confirmation Page</h1>

<%= form_with(model: @post, local: true) do |f| %>
	<%= image_tag (@post.content.url) if @post.content && @post.content.url %>
	<%= f.hidden_field :content_cache %>
	<%= f.hidden_field :caption %>
	<p>caption: <%= @post.caption %></p>
	<%= f.submit 'return', name: 'back' %>
	<%= f.submit 'post' %>
<% end %>