<h1>Feed</h1>

<% @post.each do |post| %>
<table>
	<tr>
		<td> uploaded by: <%= post.user.name %></td>
	</tr>
	<tr>
		<td><%= post.content %></td>
	</tr>
	<tr>
		<td><%= post.caption %></td>
	</tr>
	<tr>
		<td><%= link_to 'show', post_path(post.id) %></td>
		<td><%= link_to 'edit', edit_post_path(post.id) %></td>
		<td><%= link_to 'delete', post_path(post.id), method: :delete, data: {confirm: 'delete this post?'} %></td>
	</tr>
</table>
<% end %>