<h1>show post</h1>

<table>
	<tr>
		<td> <%= link_to @post.user.name, user_path(@post.user.id) %></td>
	</tr>
	<tr>
		<td><%= @post.updated_at %></td>
	</tr>
	<tr>
		<td><%= image_tag @post.content.url %></td>
	</tr>
	<tr>
		<td><%= @post.caption %></td>
	</tr>
	<tr>
		<% if @like.present? %>
		  <td><%= link_to 'unlike', like_path(id: @like.id), method: :delete %></td>
		<% else %>
		  <td><%= link_to 'like', likes_path(post_id: @post.id), method: :delete, method: :post %></td>
		<% end %>
		<td><%= link_to 'show', post_path(@post.id) %></td>
		<% if @post.user_id == current_user.id %>
		  <td><%= link_to 'edit', edit_post_path(@post.id) %></td>
		  <td><%= link_to 'delete', post_path(@post.id), method: :delete, data: {confirm: 'delete this post?'} %></td>
		<% end %>
	</tr>
</table>