<!DOCTYPE html>
<html>
  <head>
    <title>PhotoSharingApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <br/>
    <br/>

    <% if logged_in? %>
      <%= link_to "feed", posts_path %>
      <%= link_to "new post", new_post_path %>
      <%= link_to "likes", likes_path %>
      <%= link_to "profile", user_path(current_user.id) %>
      <%= link_to "logout", session_path(current_user.id), method: :delete %>
    <% else %>
      <%= link_to "sign in", new_user_path %>
      <%= link_to "log in", new_session_path %>
    <% end %>

    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: '#{key}') %>
    <% end %>

    <%= yield %>
  </body>
</html>
